*{
    margin: 0 0;
    padding: 0 0;
    
}

.intro-section img{
    display: block;
    margin: auto;
    padding: 20px 0;
    height: 30vh;

}
.main-container{
    background-image: linear-gradient(to bottom right, rgb(255, 0, 43), rgb(61, 1, 56));
}
.heading{
    color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: underline;
    
}

.cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 50px;
}

.card{
    margin: 50px 50px;
}

.image img{
    height:40vh;
    width: 40vh;
}

@media screen and (max-width: 1253px) {

    .cards{
        margin: 0 0px;
    }
    .card{
        margin: 30px 30px;
    }
}


@media screen and (max-width: 861px) {

    .cards{
        margin: 0 0px;
    }
}

@media screen and (max-width: 571px) {

    .res-img{
        height:40vh;
        width: 40vh;
    }
}
@media screen and (max-width: 327px) {

    .res-img{
        height:25vh;
    width: 25vh;
    }
}
